[user]
  name = ricoberger
  email = mail@ricoberger.de

[includeIf "gitdir/i:~/Documents/GitHub/staffbase/"]
  path = ~/.gitconfig-staffbase

[core]
  excludesfile = ~/.gitignore
  editor = nvim

[color]
  diff = auto
  status = auto
[color "branch"]
  current = cyan
  local = green
  remote = red
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = cyan
  branch = cyan
  changed = magenta
  deleted = red
  untracked = yellow

[diff]
  tool = nvimdiff
[difftool]
  prompt = true
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
	tool = nvimmerge
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvimmerge"]
	cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[pull]
  rebase = false
