[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/nord-vim"]
	path = .vim/pack/plugins/start/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
