[user]
  name = ricoberger
  email = mail@ricoberger.de

[core]
  excludesfile = ~/.gitignore

[color]
  diff = auto
  status = auto
[color "branch"]
  current = cyan
  local = green
  remote = red
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = cyan
  branch = cyan
  changed = magenta
  deleted = red
  untracked = yellow
