---
notificationsSections:
  - title: All
    filters:

prSections:
  - title: Involves
    filters: archived:false is:open involves:ricoberger
  - title: Created
    filters: archived:false is:open author:ricoberger
  - title: Assigned
    filters: archived:false is:open assignee:ricoberger
  - title: Mentioned
    filters: archived:false is:open mentions:ricoberger
  - title: Review Requested
    filters: archived:false is:open review-requested:ricoberger

issuesSections:
  - title: Involves
    filters: archived:false is:open involves:ricoberger
  - title: Created
    filters: archived:false is:open author:ricoberger
  - title: Assigned
    filters: archived:false is:open assignee:ricoberger
  - title: Mentioned
    filters: archived:false is:open mentions:ricoberger

defaults:
  notificationsLimit: 100
  prsLimit: 25
  issuesLimit: 25
  preview:
    open: false
    width: 120
  refetchIntervalMinutes: 0
  prApproveComment:
  view: notifications

smartFilteringAtLaunch: false

repoPaths:
  :owner/:repo: ~/Documents/GitHub/:owner/:repo

keybindings:
  issues:
    - name: open (nvim)
      key: O
      command: |
        nvim -c ':lua Snacks.picker.gh_issue({ repo = "{{.RepoName}}", search = "#{{.IssueNumber}}" })'
  prs:
    - name: open (nvim)
      key: O
      command: |
        nvim -c ':lua Snacks.picker.gh_pr({ repo = "{{.RepoName}}", search = "#{{.PrNumber}}" })'
    - name: diff (nvim)
      key: D
      command: |
        cd {{.RepoPath}} && git checkout {{.BaseRefName}} && git pull && gh pr checkout {{.PrNumber}} && git difftool -d origin/HEAD...HEAD
    - name: merge (admin)
      key: m
      command: gh-pr-merge {{.PrNumber}} {{.RepoName}}

theme:
  colors:
    text:
      primary: "#cad3f5"
      secondary: "#8aadf4"
      inverted: "#181926"
      faint: "#b8c0e0"
      warning: "#ed8796"
      error: "#ed8796"
      success: "#a6da95"
    background:
      selected: "#363a4f"
    border:
      primary: "#8aadf4"
      secondary: "#494d64"
      faint: "#363a4f"
