---
prSections:
  - title: Involves
    filters: is:open involves:ricoberger
  - title: Created
    filters: is:open author:ricoberger
  - title: Assigned
    filters: is:open assignee:ricoberger
  - title: Mentioned
    filters: is:open mentions:ricoberger
  - title: Review Requested
    filters: is:open review-requested:ricoberger
  - title: FeedDeck
    filters: owner:feeddeck
  - title: kubenav
    filters: owner:kubenav
  - title: kobs
    filters: owner:kobsio
  - title: ricoberger
    filters: owner:ricoberger

issuesSections:
  - title: Involves
    filters: is:open involves:ricoberger
  - title: Created
    filters: is:open author:ricoberger
  - title: Assigned
    filters: is:open assignee:ricoberger
  - title: Mentioned
    filters: is:open mentions:ricoberger
  - title: FeedDeck
    filters: owner:feeddeck
  - title: kubenav
    filters: owner:kubenav
  - title: kobs
    filters: owner:kobsio
  - title: ricoberger
    filters: owner:ricoberger

defaults:
  prsLimit: 25
  issuesLimit: 25
  preview:
    open: true
    width: 120
  refetchIntervalMinutes: 0

smartFilteringAtLaunch: false

repoPaths:
  :owner/:repo: ~/Documents/GitHub/:owner/:repo

keybindings:
  issues:
    - name: open (nvim)
      key: O
      command: |
        nvim -c ':lua Snacks.picker.gh_actions({ type = "issue", repo = "{{.RepoName}}", number = "{{.IssueNumber}}" })'
  prs:
    - name: open (nvim)
      key: O
      command: |
        nvim -c ':lua Snacks.picker.gh_actions({ type = "pr", repo = "{{.RepoName}}", number = "{{.PrNumber}}" })'
    - name: diff (nvim)
      key: D
      command: |
        cd {{.RepoPath}} && git checkout {{.BaseRefName}} && git pull && gh pr checkout {{.PrNumber}} && git difftool -d origin/HEAD...HEAD
    - name: merge (admin)
      key: M
      command: cd {{.RepoPath}} && gh-pr-merge {{.PrNumber}}

theme:
  colors:
    text:
      primary: "#cad3f5"
      secondary: "#8aadf4"
      inverted: "#181926"
      faint: "#b8c0e0"
      warning: "#ed8796"
      error: "#ed8796"
      success: "#a6da95"
    background:
      selected: "#363a4f"
    border:
      primary: "#8aadf4"
      secondary: "#494d64"
      faint: "#363a4f"
